  <style>
body {
    font-family: sans-serif;
    text-align: center;
    padding: 40px;
    line-height: 1.5;
    background-color:lightblue;
  }
  h1 { color: #222; }
  h2 { color: #666; font-weight: normal; }
  h1 {
  text-decoration: underline;
}
  .btn {
    display: inline-block;
    background: grey;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
  }
</style>
